<% @restaurant.errors.full_messages.each do |msg| %>
  <p class='text-danger'><%= msg %></p>
<% end %>
<!-- <form action="/restaurants" method="post">
  </form> -->
<!-- form_with is expecting an instance -->
<!-- form_with builds the path and method for us -->
<%= form_with model: @restaurant do |f| %>
  <!-- <input type="text" name="name"> -->
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :rating %>
  <%= f.number_field :rating, class: 'form-control' %>
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary mt-2' %>
<% end %>
