<div class="container mt-3">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= '*' * @restaurant.rating %></p>
  <p><%= link_to 'Home', restaurants_path, class: 'btn btn-light'  %></p>
  <p><%= link_to 'ðŸ—‘ï¸', restaurant_path(@restaurant), class: 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %></p>
</div>
